<div class="page-container">
    <div>
        <h2 class="page-header">Follow Us!</h2>
    </div>
    <div id="linkBox">
        <div class="link">
            <a href="https://www.facebook.com/ImprovShopSTL/"><p class="lk">FaceBook</p></a>
        </div>
        <div class="link">
            <a href="https://www.instagram.com/improvshopstl/"><p class="lk">Instagram</p></a> 
        </div>
        <div class="link">
            <a href="https://twitter.com/ImprovShopSTL"><p class="lk">Twitter</p></a>
        </div>
        <div class="link"> 
            <a href="https://www.youtube.com/Theimprovshop"><p class="lk">YouTube</p></a>
        </div>
        <div class="link">
            <a href="https://www.twitch.tv/theimprovshopstl"><p class="lk">Twitch</p></a>
        </div>
    </div>
</div>