#timeChart {
    background-color: rgba(0, 0, 0, 0.678);
    border: solid whitesmoke;
    padding: 20px;
    
}

#box {
    display: flex;
    padding: 15px 15px 15px 15px;
    border: 1px solid whitesmoke;
    background-color: rgba(0, 0, 0, 0.425);
}

.music {
    color: rgb(170, 85, 255);
}

.improv {
    color: rgb(255, 255, 255);
}

td {
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
    padding: 5px 15px 5px 15px;
    width: fit-content;
}