<div>
    <h2 class="page-header">Classes</h2>
</div>
<div id="page-container">

            <div id="classesBox">
                <ul>
                    <li class="level"><a class="lv" href="https://theimprovshop.com/class/entry-level-for-beginners-stlouis/" target="_blank"><span style="color:cyan">LEVEL 0:</span> &nbsp; Entry Level for Beginners</a></li>
                    <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-1-introduction-into-longform-improv-st-louis/" target="_blank"><span style="color:cyan">LEVEL 1:</span> &nbsp; Intro to Longform Improv</a></li>
                    <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-2-group-mind-st-louis/" target="_blank"><span style="color:cyan">LEVEL 2:</span> &nbsp; Group Mind</a></li>
                    <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-3-scenework-st-louis/" target="_blank"><span style="color:cyan">LEVEL 3:</span> &nbsp; Scenework</a></li>
                    <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-4-harold-stlouis/" target="_blank"><span style="color:cyan">LEVEL 4:</span> &nbsp; Harold</a></li>
                    <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-5-forms-survey-st-louis/" target="_blank"><span style="color:cyan">LEVEL 5:</span> &nbsp; Forms Survey</a></li>
                    <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-6-performance-st-louis/" target="_blank"><span style="color:cyan">LEVEL 6:</span> &nbsp; Performance</a></li>
                </ul>
            </div>

            <div id="grad">
                <p></p>
                <h3 style="text-align:center">Already a Grad?</h3>
                <ul>
                    <li class="level"><a class="lv"><span style="color:cyan">IS Graduate:</span> &nbsp; Scenework Bootcamp</a></li>
                    <li class="level"><a class="lv">Other Opportunities</a></li>
                </ul>
            </div>
</div>