<div>
    <h2 class="page-header">Classes</h2>
</div>
<div>
    <div id="classesBox">
        <button style="border: solid whitesmoke">Level 0: Entry Level for Beginners</button>
        <button class="level">Level 1: Intro to Longform Improv</button>
        <button class="level">Level 2: Group Mind</button>
        <button class="level">Level 3: Scenework</button>
        <button class="level">Level 4: Harold</button>
        <button class="level">Level 5: Forms Survey</button>
        <button class="level">Level 6: Performance</button>
    </div>
</div>