<div>
    <h2 class="page-header">Classes</h2>
</div>
<div>
    <div id="classesBox">
        <ul>
            <li class="level"><a class="lv" href="https://theimprovshop.com/class/entry-level-for-beginners-stlouis/" target="_blank">LEVEL 0: &nbsp; Entry Level for Beginners</a></li>
            <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-1-introduction-into-longform-improv-st-louis/" target="_blank">LEVEL 1: &nbsp; Intro to Longform Improv</a></li>
            <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-2-group-mind-st-louis/" target="_blank">LEVEL 2: &nbsp; Group Mind</a></li>
            <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-3-scenework-st-louis/" target="_blank">LEVEL 3: &nbsp; Scenework</a></li>
            <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-4-harold-stlouis/" target="_blank">LEVEL 4: &nbsp; Harold</a></li>
            <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-5-forms-survey-st-louis/" target="_blank">LEVEL 5: &nbsp; Forms Survey</a></li>
            <li class="level"><a class="lv" href="https://theimprovshop.com/class/level-6-performance-st-louis/" target="_blank">LEVEL 6: &nbsp; Performance</a></li>
        </ul>
    </div>
</div>