<div style="text-align: center">
    <button class="nav-link"><a href="">Home</a></button>
    <button class="nav-link"><a href="/event-info">Event Info</a></button>
    <button class="nav-link"><a href="/schedule">Schedule</a></button>
    <button class="nav-link"><a href="https://theimprovshop.com/classes/">Classes</a></button>
    <button class="nav-link"><a href="https://theimprovshop.com/diversity/diversity-scholarship/">Scholarship</a></button>
    <button class="nav-link"><a href="https://theimprovshop.com/contact/">Contact</a></button>
    <button class="nav-link"><a href="/follow-us">Follow</a></button>
    
</div>
