.bg {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

.main-header {
    text-align: center;
    color: aquamarine;
    text-shadow: 2px 3px rebeccapurple;
    font-family: monospace;
    font-weight: lighter;
    padding-top: 30px;
    font-size: 30px;
}

.page-header {
    text-align: center;
    font-family: monospace;
    font-weight: lighter;
    color: whitesmoke;
    text-shadow: 2px 3px rgb(66, 66, 66);
    padding: 15px;
    font-size: 24px;
}
