<div class="page-container">
    <div>
        <h2 class="page-header">Event Info</h2>
    </div>
    <div class="info-box">
        <div class="event-text">
            <p>Someday, in the comfort of your home, you’ll be able to shop and bank electronically, read instantly updated newswires, analyze the performance of a stock that interests you, send electronic mail across the country, and SUPPORT YOUR COMMUNITY BY WATCHING LIVE LOCAL COMEDY.</p>
                <p style="text-align: center">W E L C O M E - T O - S O M E D A Y</p>
                <p>The Improv Shop 12-Hour Telethon: an improvised comedy blowout from noon to midnight promoting The Improv Shop St. Louis, and St. Louis' improvised comedy scene.<br> The IS12HrT will be a nonstop comedy and entertainment streaming spectacular featuring live music, sketches, jams and of course, improvised comedy.<wbr>Each act will be done from the safety of the performers’ home!<br>
                As always, this online event is free, with the suggestion to purchase virtual tickets from us at <a style="color:aqua" href="https://theimprovshop.com/shows/">https://theimprovshop.com/shows/</a></p>
        </div>
        <div></div>
        <div></div>
    </div>
</div>

