.page-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    margin: auto;
}

.info-box {
    display: flexbox;
    padding: 15px;
    border: 2px solid whitesmoke;
    width: 400px;
    margin: auto;
    background-color: rgba(32, 32, 32, 0.87);
}

.event-text {
    
    font-weight: medium;
    font-size: 16px;
    color: whitesmoke;
    padding: 5%;
}