.home-menu {
    padding: 0 50px 50px 50px;
    margin: auto;
    background-image: url("/assets/images/cube-background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-collapse: collapse;
}

.nav-item {
    border: 1px solid;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    color: aquamarine;
    background-color: rgba(61, 61, 61, 0.795);
    background-image: url("/assets/images/vhs-overlay.jpg");
    min-width: 100px;
}

.home-links {
    color: whitesmoke;
    text-shadow: 2px 1px black;
    font-weight: medium;
}