.home-menu {
    display: flexbox;
    position: relative;
    padding: 0 50% 50% 50%;
    margin: auto;
    background-image: url("/assets/images/cube-background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-collapse: collapse;
    max-width: 100%;
    height: auto;
}

.nav-item {
    position: relative;
    border: 1px solid;
    text-align: center;
    padding: 1em;
    color: aquamarine;
    background-color: rgba(61, 61, 61, 0.795);
    background-image: url("/assets/images/vhs-overlay.jpg");
    width: max-content;
    
}

.nav-item:hover {
    box-shadow: -4px 4px rgb(137, 43, 226);
}

.home-links {
    color: whitesmoke;
    text-shadow: 2px 1px black;
    font-weight: medium;
}

.menu-box {
    display: flex;
    padding: 5% auto auto auto;
    margin: auto;
    text-align: center;
}

td {
    display: flexbox;
    flex-shrink: 3;
}

table {
    flex-shrink: 3;
}