<div style="padding: 60px; margin: auto; text-align: center">
    <table class="home-menu">
        <tr style="padding: 20px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="nav-item"><a class="home-links" href="https://www.facebook.com/ImprovShopSTL/" target="_blank">Watch Now!</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="nav-item"><a class="home-links" href="https://theimprovshop.com/show/saturday-streaming-show-23/" target="_blank">Buy a Ticket</a></td>
            <td style="visibility: hidden;">xxxxxxx</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="visibility: hidden;">xxxxxxx</td>
            <td class="nav-item"><a class="home-links" href="/schedule" target="_blank">Schedule</a></td>
            <td></td>
        </tr>
        <tr style="visibility: hidden;">x</tr>
        <tr style="visibility: hidden;">x</tr>
        <tr>
            <td><tr></tr><tr><td class="nav-item"><a class="home-links" href="/class-sign-up" target="_blank">Classes</a></td></tr><tr></tr></td>
            <td></td>
            <td colspan="5"><a href="https://theimprovshop.com/deldash/" target="_blank"><img src="/assets/images/pc-clouds (1) copy.png" style="height: 200px"/></a></td>
            <td></td>
            <td><tr></tr><tr><td class="nav-item"><a class="home-links" href="https://theimprovshop.com/contact/" target="_blank">Contact Us</a></td></tr><tr></tr></td>
        </tr>
        <tr style="visibility: hidden;">x</tr>
        <tr style="visibility: hidden;">x</tr>
      <tr>
        <td></td>
        <td class="nav-item"><a class="home-links" target="_blank">Bingo</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="nav-item"><a class="home-links" href="" target="_blank">words</a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="nav-item"><a class="home-links" href="/scholarships" target="_blank">Scholarships</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

