<div style="padding: 60px; margin: auto; text-align: center">
    <table class="home-menu">
        <tr style="padding: 20px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="nav-item"><a href="https://www.facebook.com/ImprovShopSTL/" target="_blank">Watch Now!</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="nav-item"><a href="https://theimprovshop.com/show/saturday-streaming-show-23/" target="_blank">Buy a Ticket</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="nav-item"><a href="/schedule" target="_blank">Schedule</a></td>
            <td></td>
        </tr>
        <tr>x</tr>
        <tr>x</tr>
        <tr>
            <td><tr></tr><tr><td class="nav-item"><a href="/class-sign-up" target="_blank">Classes</a></td></tr><tr></tr></td>
            <td></td>
            <td colspan="5"><img src="/assets/images/pc-clouds (1) copy.png" style="height: 200px"/></td>
            <td></td>
            <td><tr></tr><tr><td class="nav-item"><a href="https://theimprovshop.com/contact/" target="_blank">Contact Us</a></td></tr><tr></tr></td>
        </tr>
        <tr>x</tr>
        <tr>x</tr>
      <tr>
        <td></td>
        <td class="nav-item"><a target="_blank">Bingo</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="nav-item"><a href="https://theimprovshop.com/deldash/" target="_blank">Del-Dash</a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="nav-item"><a href="/scholarships" target="_blank">Scholarships</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

