<table id="logo">
    <tr>
        <td>
            <a href="http://www.earthboundbeer.com/" target="_blank">
                <img class="sponsor" src="/assets/logos/earthbound-beer.png" alt="Earthbound"/>
            </a>
        </td>
        <td>
            <a href="https://wearefarfetched.net/" target="_blank">
                <img class="sponsor" src="/assets/logos/farfetched.png" alt="FarFetched" style="height: 68px"/>
            </a>
        </td>
        <td>
            <a href="https://www.stl-style.com/" target="_blank">
                <img class="sponsor" src="/assets/logos/stl-style.png" alt="STL Style" style="height: 55px"/>
            </a>
        </td>
    </tr>
</table>